{% load static %}
    <!-- Mision -->
    <!DOCTYPE html>
    <html lang="en">
    
      <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    
        <title>Todo Rustico</title>
    
    
        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="{%static 'assets/css/bootstrap.min.css' %}">
    
        <link rel="stylesheet" type="text/css" href="{%static 'assets/css/font-awesome.css' %} ">
    
        <link rel="stylesheet" href="{% static 'assets/css/templatemo-hexashop.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">
    
        <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
    <!--
    
    TemplateMo 571 Hexashop
    
    https://templatemo.com/tm-571-hexashop
    
    -->
        </head>
        
        <body>
        
        <!-- ***** Preloader Start ***** -->
        <div id="preloader">
            <div class="jumper">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>  
        <!-- ***** Preloader End ***** -->
        
        
        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="{% url 'index' %}" class="logo">
                                <img src="{%static 'assets/images/logo_principal.png' %}" height="150px" width="150px">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="{% url 'index' %}" class="active">Inicio</a></li>
                                <li class="scroll-to-section"><a href="{% url 'causes' %}">¿Quienes somos?</a></li>
                                <li class="scroll-to-section"><a href="{% url 'apps.post:listarPost' %}">muebles</a></li>
                                <li class="scroll-to-section"><a href="{% url 'apps.post:listarPost2' %}">Campo</a></li>
                                <li class="scroll-to-section"><a href="{% url 'apps.post:noticias' %}">Noticias</a></li>
                                <li class="submenu">
                                    {% if user.is_superuser %}
                                    <a href="javascript:;">Post</a>
                                    <ul>
                                        <li><a href="{% url 'apps.post:addPost' %}">Crear Post</a></li>
                                        <li><a href="products.html">Eliminar Post</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="submenu">
                                    {% endif %}
                                    <a href="javascript:;">Sesión</a>
                                    <ul>
                                        <li><a href="{% url 'apps.usuario:login' %}">Iniciar sesión</a></li>
                                        <li><a href="{% url 'apps.usuario:registrar' %}">Registrate</a></li>
                                        {% if user.is_authenticated %}
                                        <li><a href="{% url 'apps.usuario:logout' %}">Cerrar Sesión</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>        
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
    
        
    
    
        

{% block contenido %} 
    
{% endblock %}

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <ul>
                        <li><a href="https://www.google.com.ar/maps/place/Maip%C3%BA+475,+Villa+Angela,+Chaco/@-27.5714453,-60.7195956,17z/data=!3m1!4b1!4m5!3m4!1s0x9447a9d274d56fc5:0xc1b019f483643de0!8m2!3d-27.571561!4d-60.717444?hl=es" target="_blank"">Maipú 475, Villa Angela, Chaco, Argentina</a></li>
                        <li><a href="#">lp954982@gmail.com</a></li>
                        <li><a href="#">3735-530708</a></li>
                        <li><a href="#">3735-610599</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Productos &amp; Categorias</h4>
                <ul>
                    <li><a href="#">Muebles</a></li>
                    <li><a href="#">Campo</a></li>
                    <li><a href="#">Noticias</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2023 TodoRustico Co., Ltd. All Rights Reserved. 

                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'assets/js/popper.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'assets/js/owl-carousel.js' %}"></script>
<script src="{% static 'assets/js/accordions.js' %}"></script>
<script src="{% static 'assets/js/datepicker.js' %}"></script>
<script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
<script src="{% static 'assets/js/slick.js' %}"></script> 
<script src="{% static 'assets/js/lightbox.js' %}"></script> 
<script src="{% static 'assets/js/isotope.js' %}"></script> 

<!-- Global Init -->
<script src="{%static 'assets/js/custom.js' %}"></script>

<script>

    $(function() {
        var selectedClass = "";
        $("p").click(function(){
        selectedClass = $(this).attr("data-rel");
        $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("."+selectedClass).fadeOut();
        setTimeout(function() {
          $("."+selectedClass).fadeIn();
          $("#portfolio").fadeTo(50, 1);
        }, 500);
            
        });
    });

</script>

</body>

</html>