{% extends 'base.html' %}
{% block contenido %}
<body class="is-preload-0 is-preload-1 is-preload-2">
    
    <!-- Main -->
        <div id="main">

            <!-- Header -->
                <header id="header">
                    <a href="index">{% include 'image.html' %} </a>
                    <h1 data-position="top center">Todo Rustico</h1>
                    <p>Ventas de muebles y productos de campo</p>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/vintg.villaangela/" target="_blank" class="icon brands fa-facebook"><span class="label">facebook</span></a></li>
                        <li><a href="https://www.instagram.com/todorustico.va/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank" class="icon fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                </header>

            <!-- Thumbnail -->
                <section id="thumbnails">
                    <article>
                        <a href="post/listarPost2/"><h2>Consulta precio</h2></a>
                        <a class="thumbnail" href="/static/img/fulls/01_silla_p.jpg"  data-position="left center" height="720 px" width="960 px" ><img src="/static/img/thumbs/01_silla_p.jpg" height="150"  alt="" /><a href="post/listarPost2/"><img src="/static/img/thumbs/01_silla_p.jpg" height="150"  alt="" /></a></a>
                        <a href="post/listarPost2/"> <h2>Sillas plegables</h2>
                        <p>Ligeras de peso, fácil de transportar y guardar</p></a>
                    </article>
                    <article>
                        <a class="thumbnail" href="/static/img/fulls/mesa_desayunadora.jpg" ><img src="/static/img/thumbs/mesa_desayunadora.jpg" height="150" alt="" /><a href="post/listarPost2/"><img src="/static/img/thumbs/mesa_desayunadora.jpg" height="150" alt="" /></a></a>
                        <a href="post/listarPost2/"><h2>Barra desayunadora</h2>
                        <p>Serví tus desayunos y meriendas con la mejor clase</p></a>
                    </article>
                    <article>
                        <a class="thumbnail" href="/static/img/fulls/03.jpg" data-position="top center" height="720" width="960" ><img src="/static/img/thumbs/03.jpg" height="150"  alt="" /></a>
                        <h2>Mesa y sillas para niños</h2>
                        <p>Ideal para regalar a tus niños les va a encantar</p>
                    </article>
                    <article>
                        <a class="thumbnail" href="/static/img/fulls/04.jpg"><img src="/static/img/thumbs/04.jpg" height="150" alt="" /></a>
                        <h2>Mesa plegable familiar</h2>
                        <p>Mesa plegable de 3 metros, fácil de trasladar y de guardar</p>
                    </article>
                    <article>
                        <a class="thumbnail" href="/static/img/fulls/05.jpg" data-position="top center"><img src="/static/img/thumbs/05.jpg" height="150" alt="" /></a>
                        <h2>Mesitas plegables</h2>
                        <p>Ideal para un día de picnic, muy facil de transportar, ligeras de peso y muy resistentes</p>
                    </article>
                    <article>
                        <a class="thumbnail" href="/static/img/fulls/perchero.jpg"><img src="/static/img/thumbs/perchero.jpg" height="150" alt="" /></a>
                        <h2>Perchero recibidor</h2>
                        <p>Recibí a tus invitados con mucho amor y este hermoso perchero recibidor</p>
                    </article>


            <!-- Footer -->
                <footer id="footer">
                    <ul class="copyright">
                        <li>&copy; Untitled.</li><li>Design: <a href="https://www.facebook.com/lucas.peralta.9655" target="_blank" >Lucas Peralta</a>.</li>
                    </ul>
                </footer>

        </div>

    <!-- Scripts -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/breakpoints.min.js"></script>
        <script src="static/js/main.js"></script>

</body>
{% endblock %}