{% extends 'base.html' %}
{% block contenido %}
<body>


    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>Somos Todo Rustico</h4>
                                <span>Te invitamos a Descubrir todo sobre nosotros</span>
                                <div class="main-border-button">
                                    <a href="{% url 'causes' %}">Conocenos</a>
                                </div>
                            </div>
                            <img src="static/assets/images/imagen_principal_copia.jpg" height="630px" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Muebles</h4>
                                            <span>Muebles para tu hogar</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Muebles</h4>
                                                <p>Aquí podras ver la variedad de muebles que tenemos preparado para vos</p>
                                                <div class="main-border-button">
                                                    <a href="{% url 'apps.post:listarPost' %}">Descubre mas</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="static/assets/images/perchero_opacidad.jpg" height="300px">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Campo</h4>
                                            <span>Productos de campo directo a tu hogar</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Campo</h4>
                                                <p>Podras encontrar productos de campo como leche, miel etc.</p>
                                                <div class="main-border-button">
                                                    <a href="{% url 'apps.post:listarPost2' %}">Descubre mas</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="static/assets/images/campo_copia.jpg" height="300px" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Próximamente</h4>
                                            <span>Enterate nuestro próximo proyecto</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Próximamente</h4>
                                                <p>Tenemos preparado una gran sorpresa para nuestros clientes, entrá y enterate</p>
                                                <div class="main-border-button">
                                                    <a href="{% url 'proximamente' %}">Descubre más</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="static/assets/images/proximamente_1_copia.jpg" height="300px">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Noticias</h4>
                                            <span>Enterate de las noticias que se vienen para vos</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Noticias</h4>
                                                <p>Enterate de todas las noticias de descuento, lo que se viene etc.</p>
                                                <div class="main-border-button">
                                                    <a href="{% url 'apps.post:noticias' %}">Descubre mas</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="static/assets/images/noticias_copia1.jpg" height="300px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->





  </body>



{% endblock %}